.add-form-wrap {
  height: 100%;

  form {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 100%;

    button[type="submit"] {
      grid-column: 1 / span 2;
      width: 50%;
      justify-self: center;
    }
  }
}
